@use '../../../assets/scss/mixins';

.sectionHeader {
    & > *:not(:first-child) {
        margin-top: 0;

        & > * {
            margin-top: 12px;
        }
    }
}

.sectionHeaderLine {
    @include mixins.flex-two-items-with-spacer(8px);

    align-items: baseline;
    margin-bottom: 0;

    & > * {
        margin-bottom: 0;
    }
}