@use '../../../assets/scss/mixins';

@import '@blueprintjs/core/lib/scss/variables';

$block-preview-color: #cecece;
$block-preview-size: 300px;
$transition-time: all 0.2s;

.blockPreview {
    background-color: rgba($block-preview-color, 0.6);
    display: flex;
    flex-direction: column;
    height: $block-preview-size;
    justify-content: center;
    margin: $pt-grid-size;
    padding: 2 * $pt-grid-size;
    text-align: center;
    transition: $transition-time;
    -webkit-transition: $transition-time;
    width: $block-preview-size;

    &:hover {
        background-color: $block-preview-color;
        cursor: pointer;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    cursor: pointer;
    margin: 8px 0;
}

.modal {
    width: fit-content !important;
}

.modalImage {
    margin: auto;
    margin-top: $pt-grid-size;
}

.paginator {
    @include mixins.paginator-centered(32px);
}