@use '../../../assets/scss/mixins';

@import '@blueprintjs/core/lib/scss/variables';

.content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    cursor: pointer;
    margin: 8px 0;
}

.modal {
    width: fit-content !important;
}

.modalImage {
    margin: auto;
    margin-top: $pt-grid-size;
}

.paginator {
    @include mixins.paginator-centered(32px);
}