.image {
    &:hover {
        cursor: pointer;
    }
}

.modal {
    width: fit-content !important;
}

.selectedImage {
    display: block;
    margin: auto;
    max-width: 100%;
}

.selectedImageContainer {
    align-self: center;
}

.selectedImageMetadata {
    & > dt > h3 {
        margin-bottom: 8px;
    }

    & > dd {
        margin-inline-start: 0;
    }
}

.selectedImageMetadataContainer {
    border-left: 1px dashed black;
}

.viewer {
    display: flex;
    padding: 16px 0;
    width: 800px;

    & > * {
        flex: 1 1 0;
        padding: 16px;
        min-width: 0;
    }
}

.viewerDescription {
    height: 300px;
    overflow: scroll;
}