@use '../../../assets/scss/mixins';

.image {
    &:hover {
        cursor: pointer;
    }
}

.modal {
    @include mixins.modal(6px, auto);
}

.modalOverlay {
    @include mixins.modal-overlay;
}

.selectedImage {
    display: block;
    margin: auto;
    max-width: 100%;
}

.selectedImageContainer {
    align-self: center;
}

.selectedImageMetadata {
    & > dt > h3 {
        margin-bottom: 8px;
    }

    & > dd {
        margin-inline-start: 0;
    }
}

.selectedImageMetadataContainer {
    border-left: 1px dashed black;
}

.viewer {
    display: flex;
    height: 600px;
    padding: 16px 0;

    & > * {
        flex: 1 1 0;
        padding: 16px;
        min-width: 0;
    }
}