$pagination-border: solid 1px black;
$pagination-border-radius: 4px;
$pagination-hover-background-color: lightgray;

@mixin paginationDisabled {
    background-color: $pagination-hover-background-color;
    color: gray;

    &:hover {
        cursor: initial;
    }
}

.pagination {
    list-style-type: none;
    margin: auto;
    margin-top: 24px;
    padding: 0;
    width: fit-content;
}

.paginationItem {
    display: inline;
}

.paginationItemDisabled {
    & > a {
        @include paginationDisabled;
    }
}

.paginationItemLink {
    border-bottom: $pagination-border;
    border-top: $pagination-border;
    border-left: $pagination-border;
    padding: 12px;

    &:hover {
        background-color: $pagination-hover-background-color;
        cursor: pointer;
    }
}

.paginationItemLinkActive {
    @include paginationDisabled;
}

.paginationItemLinkNext {
    @extend .paginationItemLink;
    border-right: $pagination-border;
    border-top-right-radius: $pagination-border-radius;
    border-bottom-right-radius: $pagination-border-radius;
}

.paginationItemLinkPrevious {
    @extend .paginationItemLink;
    border-bottom-left-radius: $pagination-border-radius;
    border-top-left-radius: $pagination-border-radius;
}