@use '../../../assets/scss/mixins';

.displayImage {
    @include mixins.flex-two-items-with-spacer(8px);

    display: flex;
    align-items: flex-end;
}

.editAestheticForm {
    font-size: initial;
}

.savingDialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}