@use '../../../assets/scss/mixins';

.creatorNameSuggest {
    max-height: 300px;
    overflow: auto;
}

.dataListNoIndent {
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: 8px;

    & > dd {
        margin-inline-start: 1em;
    }
}

.mediaPreview {
    align-items: center;
    display: flex;

    & > * {
        margin: 0 4px;
    }
}

.mediaPreviewButtons {
    float: right;
}

.modal {
    width: fit-content !important;
}

.modalPreviewImage {
    @include mixins.flex-two-items-with-spacer(8px);

    display: flex;
    align-items: flex-end;
}

.tooltipText {
    font-size: 10pt;
}