@use '../../../assets/scss/mixins';

.creatorNameSuggest {
    max-height: 300px;
    overflow: auto;
}

.dataListNoIndent {
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: 8px;

    & > dd {
        margin-inline-start: 1em;
    }
}

.mediaPreview {
    align-items: center;
    display: flex;

    & > * {
        margin: 0 4px;
    }
}

.mediaPreviewButtons {
    float: right;
}

.modal {
    @include mixins.modal(auto, 950px);
    background-color: white;
    border: 1px black solid;
    border-radius: 6px;
    left: 50%;
    padding: 4px 24px 16px 24px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
}

.modalOverlay {
    @include mixins.modal-overlay;
}

.modalPreviewImage {
    @include mixins.flex-two-items-with-spacer(8px);

    display: flex;
    align-items: flex-end;
}

.tooltipText {
    font-size: 10pt;
}