.profileImage {
    border-radius: 50%;
}

.teamArticle {
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    & > :not(:first-child) {
        margin-left: 24px;
    }
}

.teamContainer {
    align-items: flex-start;
    display: flex;
}

.teamLabel {
    font-weight: initial;
}