@font-face {
    font-family: foundationGrotesk;
    src: url(./assets/fonts/foundersgrotesktext-regular.otf);
}

@font-face {
    font-family: epilogue;
    src: url('./assets/fonts/Epilogue-Regular.woff');
}

a {
    color: black;
    text-decoration: underline;

    &:hover {
        color: #0000FF;
    }
}

body {
    color: black;
    font-family: epilogue;
    font-size: 14pt;
    margin: auto;
    max-width: 1024px;
    padding: 16px;
}

p {
    line-height: 2;
}