@font-face {
    font-family: foundationGrotesk;
    src: url(./assets/fonts/foundersgrotesktext-regular.otf);
}

@font-face {
    font-family: epilogue;
    src: url('./assets/fonts/Epilogue-Regular.woff');
}

a {
    color: black;
    text-decoration: underline;

    &:hover {
        color: #0000FF;
    }
}

body {
    color: black;
    font-family: epilogue;
    font-size: 14pt;
    margin: auto;
    max-width: 1024px;
}

form {
    font-size: initial;
}

footer {
    margin: 24px auto;
    width: fit-content;
}

header {
    margin-bottom: 24px;
}

nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    & > * {
        margin: 5px;
    }
}

p {
    @media only screen and (min-width: 400px) {
        font-size: 4vw;
    }

    @media only screen and (min-width: 600px) {
        font-size: 2.5vw;
    }

    @media only screen and (min-width: 768px) {
        font-size: inherit;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    &:not(:first-child) {
        border-left: 1px solid lightgrey;
    }

    padding: 8px;
    text-align: left;
}

th {
    border-bottom: 1px solid lightgrey;

    &.sortable {
        cursor: pointer;
    }
}