circle:hover {
    fill: red;
}

image:hover {
    cursor: pointer;
}

p {
    line-height: 2;
}

text {
    font-size: 0.5em;
}

#aestheticsListFilters {
    align-items: baseline;
    display: flex;
    margin-bottom: 16px;

    & > *:not(:last-child) {
        margin-right: 8px;
    }
}

#aestheticsListPaginatorContainer {
    margin: 32px auto 0;
    width: fit-content;
}

#galleryContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#galleryPaginatorContainer {
    margin: 32px auto 0;
    width: fit-content;
}

#similarityWebCanvas {
    border: 1px dashed black;
    display: block;
    margin: 0 auto 24px;
    width: 70%;
}

#similarityWebScrollMessage {
    margin-top: 0;
}

#timelineImage {
    display: block;
    margin: auto;
    max-width: 100%;
}

#timelineImageContainer {
    align-self: center;
}

#timelineImageMetadata {
    & > dt > h3 {
        margin-bottom: 8px;
    }

    & > dd {
        margin-inline-start: 0;
    }
}

#timelineImageMetadataContainer {
    border-left: 1px dashed black;
}

#timelineViewer {
    display: flex;
    height: 600px;
    padding: 16px 0;

    & > * {
        flex: 1 1 0;
        padding: 16px;
        min-width: 0;
    }
}